<form  (ngSubmit)="onLogin(inputEmail.value, inputPassword.value)" >
  <div class="row">
    <div class="input-field col s12">
      <input id="email"
            #inputEmail
             type="text"
             required
             name='email'
             class="validate"
             ngControl="email"
      >
      <label for="email">Email</label>
    </div>
    <div class="input-field col s12">
      <input id="password"
             #inputPassword
             type="password"
             required
             name='password'
             class="validate"
             ngControl="password"
      >
      <label for="password">Password</label>
    </div>
    <div class="col s12 ">
      <button type="submit"
              class="waves-effect waves-light btn blue right">
        Login </button>
    </div>
  </div>
</form>
