<p>
  Displaying {{ todos.length }} todos.
</p>

<table>
  <thead>
  <tr>
    <th data-field="name">Title</th>
    <th data-field="name">Description</th>
    <th data-field="name">Done</th>
    <th data-field="name">Actions</th>
  </tr>
  </thead>

  <tbody>
  <tr *ngFor="let t of todos">
    <td>{{ t.title }}</td>
    <td>{{ t.description }}</td>
    <td>
      <script>{{ console.log(t)}}</script>
      <a *ngIf="!t.done" (click)="changeTodoStatus(t)" href="/todos">Done</a>
      <a *ngIf="t.done" (click)="changeTodoStatus(t)" href="/todos">Undone</a>
    <td>
      <a [routerLink]="['/todos', t.id]">
        Edit
      </a>
      |
      <a (click)="deleteTodo(t)" href="/todos">
        Delete
      </a>
    </td>
  </tr>
  </tbody>
</table>

<div style="bottom: 45px; right: 24px;">
  <a routerLink="/todos/new">
    New
  </a>
</div>
