<p>
  Displaying {{ todos.length }} todos.
</p>

<table>
  <thead>
  <tr>
    <th data-field="name">Title</th>
    <th data-field="name">Text</th>
  </tr>
  </thead>

  <tbody>
  <tr *ngFor="let q of todos">
    <td>{{ q.title }}</td>
    <td>{{ q.text }}</td>

    <td>
      <a [routerLink]="['/todos', q.id]">
        Edit
      </a>
    </td>
    <td>
      <a (click)="deleteTodo(q)" href="">
        Delete
      </a>
    </td>
  </tr>
  </tbody>
</table>

<div style="bottom: 45px; right: 24px;">
  <a routerLink="/todos/new">
    New
  </a>
</div>
